anthropic
langchain
langchain-anthropic
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
tavily-python
beautifulsoup4
requests
fastapi
uvicorn
streamlit
python-dotenv
pymupdf
groq